/public/audios/08120492076_20150102081003.wav
/public/audios/B C S Farewell Day Blessings.mp3
/public/audios/royalty.mp3
/public/audios/Ruggedman-Fvck-You-Cover.mp3
/public/images/(1).mp4
/public/images/REC_0000023.wav
/public/videos/(2).mp4
/public/videos/videoplayback.mp4